#sf_admin_container ul.actions li a
{
  padding-left: 20px;
  background: url(boxie/img/led-ico/application2.png) no-repeat 0 0;
  display:inline-block;
  height: 16px;
}

#sf_admin_container ul li.sf_admin_action_new a
{
  background: url(boxie/img/led-ico/add.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_delete a
{
  background: url(boxie/img/led-ico/delete.png) no-repeat 0 0;

}

#sf_admin_container ul li.sf_admin_action_list a
{
  background: url(boxie/img/led-ico/arrow_undo.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_edit a
{
  background: url(boxie/img/led-ico/pencil.png) no-repeat 0 0;
}
#sf_admin_container th .sort_container
{
    float: right
}
#sf_admin_container form.list_form
{
    padding: 0 0 18px;
}
#sf_admin_container ul.actions
{
    padding: 0px 0px 18px 18px;
}

.sf_admin_form fieldset
{
    margin: 0 15px 15px 15px;
}
.sf_admin_form .tabbed_admin .flash
{
    margin: 15px 15px 0;
}

.sf_admin_form .tabbed_admin fieldset
{
    margin: 15px;
}
